body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('back.jpg'); /* Устанавливаем изображение фоном */
    background-size: cover; /* Масштабируем изображение, чтобы покрыть весь экран */
    background-position: center; /* Центрируем изображение */
    background-repeat: no-repeat; /* Запрещаем повторение изображения */
    font-family: 'Roboto', Arial, sans-serif; /* Используем шрифт Roboto */
    overflow: hidden;
    color: #000; /* Черный цвет текста */
}

#game {
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 1; /* Элементы игры отображаются поверх фона */
}

#top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

#level-container {
    text-align: left;
}

#level-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px; /* Устанавливаем фиксированную ширину для контейнера */
}

#level-name {
    font-size: 14px; /* Уменьшаем размер текста */
    font-weight: bold;
    flex-grow: 1; /* Позволяет названию занимать оставшееся пространство */
    margin-right: 10px;
}

#level-indicator {
    font-size: 16px;
    flex-shrink: 0; /* Предотвращает изменение размера индикатора */
    text-align: right; /* Выравниваем текст по правому краю */
    font-weight: bold;
}


#level-progress-bar {
    width: 150px;
    background-color: #6e6d6d;
    border-radius: 10px;
    overflow: hidden;
    height: 10px;
    margin-top: 5px;
}

#level-progress {
    height: 100%;
    background-color: #dba905;
    width: 0%; /* Начальная ширина прогресс-бара */
}
/* Экран загрузки */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Устанавливаем высокое значение z-index, чтобы экран был поверх всех элементов */
}

#loading-screen img {
    max-width: 80%;
    max-height: 80%;
}

#money-container {
    display: flex;
    align-items: center;
}

#money-icon {
    width: 30px;
    margin-right: 10px;
}

#money-amount {
    font-size: 18px;
    font-weight: bold;
    color: #000000; /* Черный цвет текста */
}

#tap-coin {
    width: 300px; /* Размер иконки монетки */
    cursor: pointer;
    margin-bottom: 20px;
    transition: transform 0.2s ease;
    position: relative; /* Для позиционирования бонусного уведомления */
}

#tap-coin:active {
    transform: scale(1.1); /* Увеличение монетки при нажатии */
}

#energy-container {
    margin-top: 20px;
    position: relative; /* Устанавливаем position: relative для корректного z-index */
    z-index: 2; /* Поверх фона */
}

#energy-bar {
    width: 100%;
    background-color: rgba(224, 224, 224, 0.5); /* Полупрозрачный фон для прогресс-бара */
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
    margin-top: 5px;
}

#energy-progress {
    height: 100%;
    background-color: #76c7c0;
    width: 100%;
    transition: width 0.3s ease;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: rgb(100, 171, 247); /* Уменьшили прозрачность фона */
    color: #000; /* Черный цвет текста на кнопках */
    font-family: 'Roboto', Arial, sans-serif; /* Используем шрифт Roboto */
    position: relative; /* Устанавливаем position: relative */
    z-index: 2; /* Поверх фона */
}

button:hover {
    background-color: rgba(1, 108, 223, 1); /* Цвет фона при наведении */
}

p {
    margin: 10px 0;
    font-size: 18px;
    color: #000; /* Черный цвет текста */
    font-family: 'Roboto', Arial, sans-serif; /* Используем шрифт Roboto */
}

#level-up-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: #000; /* Черный цвет текста */
    opacity: 0;
    pointer-events: none;
    display: none; /* Скрываем элемент по умолчанию */
    font-family: 'Roboto', Arial, sans-serif; /* Используем шрифт Roboto */
}

@keyframes levelUp {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}

/* Контейнер для падающих иконок улучшений */
#upgrade-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Скрываем иконки, которые выходят за пределы контейнера */
    z-index: 0; /* Размещаем позади остальных элементов */
    pointer-events: none; /* Делаем контейнер невзаимодействующим */
}

.falling-upgrade {
    position: absolute;
    top: -50px; /* Начальная позиция над экраном */
    width: 50px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    animation: fall 3s linear infinite, fadeOut 2s 3s linear forwards;
}

@keyframes fall {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh); /* Двигаем вниз экрана */
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Эффект тряски монетки */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

#tap-coin.no-energy {
    animation: shake 0.3s;
}
